bin/
obj/
**/bin/
**/obj/
*.user
*.rsuser
.classpath
.project
.classpath
.settings/
.vscode/
.vs/
Logs/
logs/
*.dll
*.exe
*.pdb
*.cache
.DS_Store
docker-compose*.yml
*.md
*.log
**/*.suo
**/*.userosscache
**/.idea/
**/.vscode/
